<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.go">

    <!--
    эти две строки кода дают разрешение доступа к Интернет
    Вторая строка позволяет получать трафик с помощью WiFi
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GO">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJq7xu7AKpJv5alIucX2Ujvr5p5fzgnrc" />

        <activity
            android:name=".CustomersMapActivity"
            android:exported="false"
            android:label="@string/title_activity_customers_map" />
        <activity
            android:name=".DriversMapActivity"
            android:exported="false"
            android:label="@string/title_activity_drivers_map" />
        <activity
            android:name=".RegCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".RegDriverActivity2"
            android:exported="false" />
        <activity
            android:name=".CustomerRegLoginActivity"
            android:exported="false" />
        <activity
            android:name=".DriverRegLoginActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!--
            Portrait - Экран будет правильно отображатся Ұто етсь вертикально.
            Так как главный экран не должен как либо менять ориентацию
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>